<!--home/templates/hotel_detail.html-->
{% extends "utils/base.html" %}

{% block start %}
<div class="container">


<div class="card-body mt-5">
    <h5 class="card-title">{{hotel.hotel_name}}</h5>

      Price <span class="badge text-bg-danger">{{hotel.hotel_price}}</span>
      Offer Price <span class="badge text-bg-success">{{hotel.hotel_offer_price}}</span>
<hr>
    <p>{{hotel.hotel_location}}</p>
    <span class="badge text-bg-primary">Swimming Pool</span>
    <span class="badge text-bg-primary">AC</span>

    <p class="mt-5">{{hotel.hotel_description|safe}}</p>

    <div class="row">
        {% for image in hotel.hotel_images.all %}

        <div class="col-2">
            <img src="/media/{{image.image}}" style="height: 150px ;">

        </div>

        {% endfor %}

        </div>

        {% if request.user.is_authenticated %}

        <form method ="POST">
            {% csrf_token %}
        {% include "utils/alerts.html" %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Start Date</label>
                <input type="date" name="start_date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">End Date</label>
                <input type="date" name="end_date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>

            <button type="submit" class="btn btn-danger mt-5">Book now</button>
        </form>
     {% else %}

     <a href="{% url 'loginview' %}" class="btn btn-success">Login</a>
     {% endif %}

  </div>
</div>



{% endblock %}
