<!--navbar-->
<nav class="navbar  navbar-dark bg-danger shadow-lg p-2 nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img height="40" src="https://i.pinimg.com/736x/60/20/3c/60203c06b364a8764b54bba1a35290c2.jpg">      </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'loginview'%}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registerview'%}">Register</a>
        </li>

      </ul>
      <a class="btn btn-danger" href="{% url 'logout_view'%}">Logout</a>

    </div>
    </div>
  </nav>
